.title {
    font-size: 12pt;
    font-weight: normal;
    margin: 10pt 0pt 0pt 0pt;
}

input {
    min-width: 200pt;
}

.error input {
    border: solid red 2px;
    background-color: pink;
}

.errorLabel {
    font-size: 10pt;
    color:red;
}