.raceEditor {
    font-size: 22pt;
    display: flex;
    flex-direction: column;
}

.editFieldContainer {
    display: flex;
    flex-direction: column;
}

.editFieldContainer input {
    max-width: 200pt;
    margin: -10pt 0pt 0pt 0pt;
}

.editFieldContainer h3 {
    font-size: 12pt;
    font-weight: normal;
}